<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-tune"
        version="8.0.0">

    <name>TunePlugin</name>

    <description>This Cordova plugin allows you to measure installs and events with the TUNE SDK.</description>
    <repo>https://github.com/tuneinc/phonegap-plugin</repo>
    <keywords>cordova,mat,mobileapptracking,tracking,tune,attribution,analytics</keywords>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=9.0.0" />
    </engines>

    <js-module src="www/TunePlugin.js" name="TunePlugin">
        <clobbers target="window.plugins.tunePlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TunePlugin" >
                <param name="android-package" value="com.tune.TunePlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE"/>
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.tune.TuneTracker" android:exported="true">
                <intent-filter>
                    <action android:name="com.android.vending.INSTALL_REFERRER" />
                </intent-filter>
            </receiver>
            <receiver android:name="com.tune.ma.push.service.TunePushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <category android:name="$PACKAGE_NAME" />
                    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                </intent-filter>
            </receiver>
            <service android:exported="false" android:name="com.tune.ma.push.service.TunePushService" />
        </config-file>

        <source-file src="src/android/com/tune/TunePlugin.java"
                     target-dir="src/com/tune" />

        <framework src="com.tune:tune-marketing-console-sdk:6.1.1" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <plugins-plist key="TunePlugin" string="TunePlugin" />

        <config-file target="config.xml" parent="/*">
            <feature name="TunePlugin">
                <param name="ios-package" value="TunePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/ios/TunePlugin.m" />
        <header-file src="src/ios/TunePlugin.h" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Tune" spec="~> 6.1.0" />
            </pods>
        </podspec>
    </platform>
</plugin>
